html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* new CSS content */

.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;

}

.background-img,
.right {
    border: 5px solid black;
    min-height: 100%;

}

.background-img {
    flex: 2;
    /*
    image downloaded from:
    https://images.pexels.com/photos/15520949/pexels-photo-15520949.jpeg?cs=srgb&dl=pexels-art%C5%ABras-kokorevas-15520949.jpg&fm=jpg&_gl=1*a4n11k*_ga*NjU1NjgzODEuMTcwNzI0OTQ1NA..*_ga_8JE65Q40S6*MTcwNzI1MTkzMi4yLjAuMTcwNzI1MTkzMi4wLjAuMA..
    */
    background-image: url("images/pexels-artūras-kokorevas-15520949.jpg");
    background-size: cover;
}

.brand {

    color: rgb(171, 97, 97);
    background-color: rgb(119, 166, 184, 0.5);

    font-size: 4rem;
}

.right {
    flex: 3;
}