@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Paytone One', sans-serif;
}

/* HTML5 display-role reset for older browsers */
/* article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
} */

/* new CSS content */





.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.background-img,
.right {
    border: 5px solid black;
    min-height: 100%;
}

.background-img {
    flex: 2;
    /*
    image downloaded from:
    https://images.pexels.com/photos/15520949/pexels-photo-15520949.jpeg?cs=srgb&dl=pexels-art%C5%ABras-kokorevas-15520949.jpg&fm=jpg&_gl=1*a4n11k*_ga*NjU1NjgzODEuMTcwNzI0OTQ1NA..*_ga_8JE65Q40S6*MTcwNzI1MTkzMi4yLjAuMTcwNzI1MTkzMi4wLjAuMA..
    */
    background-image: url("images/pexels-artūras-kokorevas-15520949.jpg");
    background-size: cover;
    display: flex;


}

.brand {
    color: rgb(171, 97, 97);
    font-size: 3vw;
    margin-top: 50px;
    margin-left: 350px;


}

.right {
    flex: 3;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.sign-up {
    flex: 3;
    background-color: #AA4A44;
    margin-bottom: 3px;
    box-shadow: 0px 4px 5px -3px #650d0d;

}

h2,
.form-container {
    padding: 1% 1% 0% 1%;
}


.intro {
    flex: 2;
    background-color: #d9bb62;
    color: #353c40;
    padding: 1%;
}

h1 {
    font-size: 3rem;
    padding-bottom: 5%;
}

h2 {
    margin-bottom: 5%;
}

.form-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;


}

.form-container div {
    flex: 1;

}

.out-form-container {}

.right-bottom-form {
    background-color: #d9bb62;
    height: 30vh;


}

input {
    width: 70%;
}

div>label {
    display: block;
}